* {
  max-width: 100%;
}
p, a, span, li, dt, dd {
  font-size: 1.2rem;
}
img {
  margin-top: 16px;
  margin-bottom: 16px;
}
.container {
  padding: 40px;
}
.main {
  padding: 24px;
  background: #f6f6f6;
}
.title {
  margin-bottom: 24px;
}
.body {
  line-height: 2;
}
.mb-5 {
  margin-bottom: 5rem;
}
h1 {
  color: #002eb7;
}
h2 {
  margin-top: 80px;
  border-bottom: 2px solid;
}
h3 {
  margin-top: 40px;
  border-left: 8px solid;
  padding-left: 8px;
}